body {
	justify-content: center;
	align-items: center;
	background-color: rgb(187, 187, 187);
	margin: 10px;
}

form {
	margin-top: 20%;
}

.login-button {
	margin: 10px;
}

.navbar {
	width: 100%;
}

.movie-cards,
.login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(187, 187, 187);
	margin: 10px;
}
