body {
	justify-content: center;
	align-items: center;
	background-color: rgb(187, 187, 187);
	margin: 10px;
}

form {
	width: 75%;
	align-content: center;
	margin-top: 10%;
}

.login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(187, 187, 187);
	margin: 10px;
}

.login-button {
	margin-right: 10px;
	margin-bottom: 10px;
}

.navbar {
	width: 100%;
}

.mov {
	display: table;
	max-width: 250px;
}
