.movie-view {
	margin: 20px;
	align-content: center;
}

.movie-poster {
	float: left;
	width: 50%;
	margin-right: 15px;
}

.label {
	font-weight: bold;
}

.link {
	text-decoration: underline;
}

.link:hover {
	color: white;
	text-decoration: none;
	background-color: #343a40;
}

div {
	align-content: center;
}

.movie-title {
	font-size: 25px;
}
